  *{
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(50,50,50);
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  /* body {
    background-color: rgb(50,50,50);
  } */
  
  h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    margin: 0;
    top: -4px;
    right: 5px;
  
    color: white;
    text-shadow: 0 0 4px white;
  }

  table{
    width: 100%;
    padding: 0px;
  }

  td{
    padding: 0;
  }

  /* .ui-text, .length-text{
    color: white;
  } */

  
  .header{
    height: 10%;
    text-align: center;
    padding: 20px;
  }

  .main-container{
    height: 80%;
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap; */
  }

  .left{
    flex: auto;
  }

  .right{
    flex: auto;
  }

  .middle{
    flex-shrink: 0;
    /* flex-basis: 1050px; */
    border-radius: 10px;
    /* flex-direction: column; */
    background-color: rgb(77, 94, 124);

  }

  .middle-top{   
    width: 100%;
    padding: 20px 0px 5px 0px;
  }

  .score-text{
    width: 33.3%;
    padding-left: 25px;
  }

  .input-count-text{
    width: 33.3%;
    text-align: center;
  }

  .length-text{
    width: 33.3%;
    text-align: right;
    padding-right: 25px;
  }

  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .ui-text{
    font-size: 1.17em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin: 0px;
  }

  .canvas-container{
    /* min-width: 1050px;
    min-height: 825px; */
    min-width: 650; 
    /*min-height: 825px; */
  }

  .footer{
    height: 10%;
    text-align: center;
    background: rgb(75,75,75);
  }

  .footer-text{
    color: white;
    text-align: center;
    margin: 0px;
  }

  .popup-container{
    
    
  }

  .gameover-popup{
    text-align: center;
    max-width: 300px;
    padding: 10px;
    border: 5px solid rgb(255, 102, 0);
    border-radius: 5px;
    display: none;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
    background-color: rgba(77, 94, 124, .50);
  }

  .gameover-reason{
    color: white;
  }

  /* .row:after{
    content: "";
    display: table;
    clear: both;
  } */