  *{
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(50,50,50);
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  h1{
    font-size: 2rem;
    letter-spacing: -1px;
    margin: 0;
    top: -4px;
    right: 5px;
    color: white;
    text-shadow: 0 0 4px white;
  }

  h2{
    color: white;
    text-shadow: 0 0 4px white;
  }

  h3{
    text-shadow: 0 0 4px white;
  }

  table{
    width: 100%;
    padding: 0px;
  }

  td{
    padding: 0;
  }
  
  .header{
    height: 10%;
    text-align: center;
    padding: 20px;
  }

  .main-container{
    height: 80%;
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap; */
  }

  .left{
    flex: auto;
  }

  .right{
    flex: auto;
  }

  .middle{
    flex-shrink: 0;
    /* flex-basis: 1050px; */
    border-radius: 10px;
    /* flex-direction: column; */
    background-color: rgb(77, 94, 124);

  }

  .middle-top{   
    width: 100%;
    padding: 15px 24px 1px 24px;
  }

  .score-text{
    width: 33.3%;
    /* padding-left: 25px; */
  }

  .input-count-text{
    width: 33.3%;
    text-align: center;
  }

  .length-text{
    width: 33.3%;
    text-align: right;
    /* padding-right: 25px; */
  }

  .middle-bottom{   
    width: 100%;
    padding: 0px 0px 5px 0px;
  }

  .esc-text{
    width: 50%;
    padding-left: 25px;
  }

  .space-text{
    text-align: right;
    padding-right: 25px;
  }

  .lower-ui-text{
    font-size: 1em;
    font-weight: normal;
    color: rgb(175, 175, 175);
    margin: 0px;
  }

  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .ui-text{
    font-size: 1.17em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin: 2px;
  }

  .canvas-container{
    min-width: 650; 
  }

  .footer{
    height: 10%;
    text-align: center;
    background: rgb(75,75,75);
  }

  .footer-text{
    color: white;
    text-align: center;
    margin: 0px;
  }

  .centered-on-canvas{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
  }

  .popup-template{
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(255, 102, 0);
    border-radius: 5px;
    display: none;
    background-color: rgba(77, 94, 124, .90);
  }

  .startgame-popup{
    text-align: center;
    max-width: 380px;
    padding: 10px;
    border: 2px solid rgb(255, 102, 0);
    border-radius: 5px;
    display: none;
    background-color: rgba(77, 94, 124, 0.8);
  }

  .gameover-popup{
    text-align: center;
    max-width: 300px;
    padding: 10px;
    border: 2px solid rgb(255, 102, 0);
    border-radius: 5px;
    display: none;
    background-color: rgba(0, 0, 0, .90);
  }

  .menu-popup{
    z-index: 10;
    text-align: center;
    min-width: 300px;
    /* max-width: 400px; */
    padding: 10px;
    border: 2px solid rgb(255, 102, 0);
    border-radius: 5px;
    display: none;
    background-color: rgba(0, 0, 0, .9);
  }

  /* .popup-container{
    width: 100%;
  } */
  .menu-board-size-setting{
    display: table-cell;
    background-color: rgba(107, 43, 0, 0.3);
    /* float: left; */
    /* height: 100%; */
    width: 50%;
  }

  .menu-cell-size-setting{
    background-color: rgba(25,25,25,1);
    display: table-cell;
    /* float: right; */
    width: 50%;
    /* width: 50%; */
  }

  .bg-type-container{
    display: inline;
  }

  .board-and-cell-size{
    display: table;
    width: 100%;
  }

  .numcells-input{
    width: 50px;
    /* background-color: black;
    color: white; */
  }

  .cellsize-input{
    width: 50px;
  }
  
  .menu-text-p{
    color: white;
    padding: 0px;
    text-align: center;
  }

  .paused-text{
    text-align: center;
    display: none;
  }

  .gameover-reason{
    color: white;
  }

  .bg-select-container{
    display: inline;
    color: white;
  }

  .menu-header-text{
    background-color: rgba(77, 94, 124, .50);
  }

  .playagainbtn{
    background-color: rgb(255, 102, 0);
    width: 100%;
    border: none;
    padding: 2px 5px 2px 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: block;
  }
  /* .bg-select{
  }

  .bg-radio{
    display: inline;
  } */

  /* .row:after{
    content: "";
    display: table;
    clear: both;
  } */